@media screen and(max-width: 1200px) {
    // .container {
    //     max-width: 650px
    // }
}

* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.big-text {
    font-size: 90px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.header-info {
    display: flex;
    margin: 0 60px;
    height: 88px;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        img {
            margin-right: 12px;
        }

        &--space {
            color: #A7CC4A;
        }
    }

    &__menu {
        display: flex;
        margin-left: 264px;
        max-width: 798px;
        align-items: center;
        flex-direction: row;

        a {
            padding-right: 40px;
            font-size: 15px;
            color: #000000;
        }
    }

    &__contact-info {
        display: flex;
        margin-left: 264px;
        text-align: right;
        font-size: 15px;

        &--contact {
            margin-left: 40px;
            color: #88C558;
        }
    }

    &__sliders {
        background-image: url(../img/sliders.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 980px;
        margin-bottom: 180px;

        &--name {
            padding: 582px 0 100px 60px;
            font-size: 64px;
            color: #FFFFFF;
        }

        &--btn {
            display: flex;
            margin-left: 60px;

            button {
                margin-right: 8px;
                width: 24px;
                opacity: 0.5;
                border: 3px solid #FFFFFF;
            }
        }
    }
}

.container {
    max-width: 1216px;
    margin: 0 auto;

    .block__title {
        font-size: 48px;
        font-weight: 700;
    }

    .block-work {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1167px;

        &__one {
            max-width: 543px;
            display: flex;
            margin-top: 60px;
            margin-right: 81px;

            &--number {
                color: rgba(0, 0, 0, 0.15);
                font-style: italic;
                font-weight: 100;
                font-size: 70px;
                line-height: 110%;
                margin-right: 24px;
                letter-spacing: -0.08em;
            }

            &--text {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
            }

            &--name {
                font-size: 28px;
                margin-bottom: 8px;
                letter-spacing: -0.01em;
            }

            &--description {
                color: rgba(0, 0, 0, 0.5);
                font-size: 20px;
                letter-spacing: -0.01em;
            }
        }
    }

    .block-description {
        display: flex;
        margin-top: 180px;
        margin-bottom: 60px;

        &__square {
            flex-direction: column;
            margin-right: 197px;
            width: 531px;

            &--description {
                margin-top: 21px;
                font-size: 20px;
                font-weight: 400;
            }
        }

        &__info {
            font-size: 20px;
            line-height: 150%;
            letter-spacing: -0.02em;
        }
    }

    .line {
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    .block-info {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__description {
            flex-direction: column;
            margin-bottom: 60px;

            &--project {
                display: flex;
                flex-direction: row;

                &-number {
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 100%;
                    letter-spacing: -0.02em;
                }

                &-realization {
                    display: flex;
                    align-items: center;
                    max-width: 148px;
                    font-size: 20px;
                    line-height: 110%;
                    letter-spacing: -0.02em;
                    margin-left: 20px;
                }
            }

            &--content {
                margin-top: 32px;
                max-width: 592px;
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
                letter-spacing: -0.01em;
            }
        }

        img {
            margin-bottom: 60px;
        }
    }

    .block-company {
        margin-top: 180px;
        display: flex;
        justify-content: space-between;

        &__info {
            max-width: 592px;
            justify-content: column;

            &--description {
                margin-top: 40px;
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                letter-spacing: -0.01em;
            }
        }

        &__picture {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &--info {
                margin-left: 64px;
            }

            &--info1 {
                opacity: 0.7;
                margin-left: 64px;
            }

            &--info2 {
                opacity: 0.6;
                margin-left: 64px;
            }

            &--info3 {
                opacity: 0.5;
                margin-left: 64px;
            }

            &--info4 {
                opacity: 0.4;
                margin-left: 64px;
            }
        }
    }

    .block-earth {
        margin-top: 80px;
        background-image: url(../img/earth.png);
        background-repeat: no-repeat;

        &__realization {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 160px;
            padding-bottom: 180px;

            &--description {
                margin-top: 20px;
                letter-spacing: 0.24em;
                line-height: 110%;
            }
        }

        &__services {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 60px;
        }

        .services__info {
            width: 384px;

            &--name {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: -0.01em;
            }

            &--name::after {
                content: "→";
                padding-left: 12px;
                font-weight: 500;
                font-size: 20px;
                line-height: 110%;
                letter-spacing: -0.01em;
                opacity: 0.3;
                width: 20px;
            }

            &--description {
                margin-top: 8px;
                margin-bottom: 48px;
                line-height: 130%;
                letter-spacing: -0.01em;
                font-size: 18px;
            }
        }
    }

    .block-benefits {
        margin-top: 180px;
        display: flex;

        &__left {
            margin-right: 84px;

            hr {
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            &--description {
                display: flex;
                justify-content: flex-start;
                padding: 16px 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

                p {
                    font-size: 18px;
                    line-height: 106%;
                    letter-spacing: -0.01em;
                }
            }

            &--description::before {
                content: "→";
                padding-right: 12px;
                color: #88C558;
                line-height: 21.6px;
                letter-spacing: -0.01em;
            }
        }

        &__right {
            height: 814px;
        }

        .indent-bottom {
            margin-bottom: 40px;
        }
    }

    .block-project {
        margin-top: 180px;

        &__title {
            display: flex;
            justify-content: space-between;

            &--all-project {
                display: flex;
                color: #88C558;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                align-items: center;
            }

            &--all-project::after {
                content: '→';
                padding-left: 12px;
            }
        }

        &__description {
            display: flex;
            flex-wrap: wrap;
            margin-top: 60px;
            justify-content: space-between;

            .projet-info__description {
                display: flex;
                justify-content: flex-start;
                margin-top: 16px;
                font-weight: 500;
                font-size: 18px;
                line-height: 110%;
                letter-spacing: -0.01em;
                margin-bottom: 32px;

                &--name {
                    margin-right: 12px;
                }

                &--year {
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .block-team {
        margin-top: 180px;

        &__description {
            margin-top: 48px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &--main {
                background: #EFEFEF;
            }

            &--others {
                background: #EFEFEF;
                display: flex;
                width: 176px;
                height: 154px;
                margin-top: 32px;
                align-items: flex-end;
                justify-content: center;
            }

            &--others-last {
                display: flex;
                width: 176px;
                height: 154px;
                margin-top: 32px;
                background: #000000;
                background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);;
                background-image: url(../img/block-team/team_21.png);
            }
        }

        .block-team__others-last--info {
            padding-left: 12px;
            padding-top: 12px;
        }

        .block-team__others-last--name {
            font-weight: 700;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            line-height: 110%;
        }

        .block-team__others-last--position {
            font-weight: 500;
            letter-spacing: -0.01em;
            color: rgba(255, 255, 255, 0.6);
        }

        &__info {
            padding-top: 24px;
            padding-left: 24px;

            &--name {
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
            }

            &--position {
                letter-spacing: -0.01em;
                line-height: 110%;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        &__photo-1 {
            margin: 18px 56px 0 56px;
        }

        &__photo-2 {
            margin: 16px 70px 0 55px;
        }

        &__photo-3 {
            margin: 16px 19px 0 18px;
        }
    }
}