@charset "UTF-8";
* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.big-text {
  font-size: 90px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.header-info {
  display: flex;
  margin: 0 60px;
  height: 88px;
  align-items: center;
  justify-content: space-between;
}
.header-info__logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.header-info__logo h1 {
  font-size: 30px;
}
.header-info__logo svg {
  width: 26px;
  height: 48px;
  margin-right: 12px;
}
.header-info__logo span {
  color: #A7CC4A;
}
.header-info .menu {
  display: flex;
  margin-left: 264px;
  width: 752px;
  align-items: center;
}
.header-info .menu__ultralinear {
  display: flex;
  justify-content: flex-start;
}
.header-info .menu a {
  padding-right: 30px;
  line-height: 110%;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}
.header-info .menu a:hover {
  opacity: 0.8;
  color: #88C558;
}
.header-info__contact {
  display: flex;
  margin-left: 264px;
  text-align: right;
  font-size: 15px;
  letter-spacing: -0.02em;
}
.header-info__contact a:first-child {
  line-height: 140%;
}
.header-info__contact a:last-child {
  margin-left: 40px;
  color: #88C558;
  line-height: 130%;
}

.header__sliders {
  background-image: url(../img/sliders.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 980px;
  margin-bottom: 180px;
}
.header__sliders-name {
  width: 1017px;
  padding: 582px 0 100px 60px;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 110%;
  font-weight: 800;
  letter-spacing: -0.02em;
}
.header__sliders-btn {
  display: flex;
  margin-left: 60px;
}
.header__sliders-btn button {
  margin-right: 8px;
  width: 24px;
  opacity: 0.5;
  border: 3px solid #FFFFFF;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}
.container .block__title {
  font-size: 48px;
  font-weight: 700;
}
.container .block-work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1167px;
}
.container .block-work__one {
  max-width: 543px;
  display: flex;
  margin-top: 60px;
  margin-right: 81px;
}
.container .block-work__one--number {
  color: rgba(0, 0, 0, 0.15);
  font-style: italic;
  font-weight: 100;
  font-size: 70px;
  line-height: 110%;
  margin-right: 24px;
  letter-spacing: -0.08em;
}
.container .block-work__one--text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.container .block-work__one--name {
  font-size: 28px;
  margin-bottom: 8px;
  letter-spacing: -0.01em;
}
.container .block-work__one--description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: -0.01em;
}
.container .block-description {
  display: flex;
  margin-top: 180px;
  margin-bottom: 60px;
}
.container .block-description__square {
  flex-direction: column;
  margin-right: 197px;
  width: 531px;
}
.container .block-description__square--description {
  margin-top: 21px;
  font-size: 20px;
  font-weight: 400;
}
.container .block-description__info {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.container .line {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.container .block-info {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .block-info__description {
  flex-direction: column;
  margin-bottom: 60px;
}
.container .block-info__description--project {
  display: flex;
  flex-direction: row;
}
.container .block-info__description--project-number {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.container .block-info__description--project-realization {
  display: flex;
  align-items: center;
  max-width: 148px;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-left: 20px;
}
.container .block-info__description--content {
  margin-top: 32px;
  max-width: 592px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
}
.container .block-info img {
  margin-bottom: 60px;
}
.container .block-company {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.container .block-company__info {
  max-width: 400px;
  max-width: 592px;
  justify-content: column;
}
.container .block-company__info--description {
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
}
.container .block-company__picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .block-company__picture--info {
  margin-left: 64px;
}
.container .block-company__picture--info1 {
  opacity: 0.7;
  margin-left: 64px;
}
.container .block-company__picture--info2 {
  opacity: 0.6;
  margin-left: 64px;
}
.container .block-company__picture--info3 {
  opacity: 0.5;
  margin-left: 64px;
}
.container .block-company__picture--info4 {
  opacity: 0.4;
  margin-left: 64px;
}
.container .block-earth {
  margin-top: 80px;
  background-image: url(../img/earth.png);
  background-repeat: no-repeat;
}
.container .block-earth__realization {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  padding-bottom: 180px;
}
.container .block-earth__realization--description {
  margin-top: 20px;
  letter-spacing: 0.24em;
  line-height: 110%;
}
.container .block-earth__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}
.container .block-earth .services__info {
  width: 384px;
}
.container .block-earth .services__info--name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
}
.container .block-earth .services__info--name::after {
  content: "→";
  padding-left: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  opacity: 0.3;
  width: 20px;
}
.container .block-earth .services__info--description {
  margin-top: 8px;
  margin-bottom: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  font-size: 18px;
}
.container .block-benefits {
  margin-top: 180px;
  display: flex;
}
.container .block-benefits__left {
  margin-right: 84px;
}
.container .block-benefits__left hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.container .block-benefits__left--description {
  display: flex;
  justify-content: flex-start;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container .block-benefits__left--description p {
  font-size: 18px;
  line-height: 106%;
  letter-spacing: -0.01em;
}
.container .block-benefits__left--description::before {
  content: "→";
  padding-right: 12px;
  color: #88C558;
  line-height: 21.6px;
  letter-spacing: -0.01em;
}
.container .block-benefits__right {
  height: 814px;
}
.container .block-benefits .indent-bottom {
  margin-bottom: 40px;
}
.container .block-project {
  margin-top: 180px;
}
.container .block-project__title {
  display: flex;
  justify-content: space-between;
}
.container .block-project__title--all-project {
  display: flex;
  color: #88C558;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
}
.container .block-project__title--all-project::after {
  content: "→";
  padding-left: 12px;
}
.container .block-project__description {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
}
.container .block-project__description .projet-info__description {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}
.container .block-project__description .projet-info__description--name {
  margin-right: 12px;
}
.container .block-project__description .projet-info__description--year {
  color: rgba(0, 0, 0, 0.5);
}
.container .block-team {
  margin-top: 180px;
}
.container .block-team__description {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .block-team__description--main {
  background: #EFEFEF;
  margin-top: 10px;
}
.container .block-team__description--others {
  background: #EFEFEF;
  display: flex;
  width: 176px;
  height: 154px;
  margin-top: 32px;
  align-items: flex-end;
  justify-content: center;
}
.container .block-team__description--others-last {
  display: flex;
  width: 176px;
  height: 154px;
  margin-top: 32px;
  background: #000000;
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: url(../img/block-team/team_21.png);
}
.container .block-team .block-team__others-last--info {
  padding-left: 12px;
  padding-top: 12px;
}
.container .block-team .block-team__others-last--name {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  line-height: 110%;
}
.container .block-team .block-team__others-last--position {
  font-weight: 500;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.6);
}
.container .block-team__info {
  padding-top: 24px;
  padding-left: 24px;
}
.container .block-team__info--name {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
}
.container .block-team__info--position {
  letter-spacing: -0.01em;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.5);
}
.container .block-team__photo-1 {
  margin: 18px 56px 0 56px;
}
.container .block-team__photo-2 {
  margin: 16px 70px 0 55px;
}
.container .block-team__photo-3 {
  margin: 16px 19px 0 18px;
}
.container .block-tour {
  margin-top: 180px;
}
.container .block-tour__title {
  display: flex;
  justify-content: space-between;
}
.container .block-tour__title--number {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #A7CC4A;
}
.container .block-tour__title--description {
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.container .block-tour .small-line--green {
  width: 80px;
  border: 2px solid #A7CC4A;
  margin-top: 32px;
  margin-bottom: 32px;
}
.container .block-tour__description {
  max-width: 904px;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
}

.block-sliders {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
  margin-bottom: 183px;
}
.block-sliders__card {
  margin-left: 32px;
  margin-right: 32px;
}
.block-sliders__card--description {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

footer {
  background: #F5F5F5;
}
footer .block-contact {
  display: flex;
  padding-top: 120px;
}
footer .block-contact__left {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-right: 136px;
}
footer .block-contact__left .iframe {
  margin-top: 20px;
}
footer .block-contact__info {
  display: flex;
  margin-top: 40px;
}
footer .block-contact__info--name {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.5);
}
footer .block-contact__info--name p {
  margin-bottom: 21px;
}
footer .block-contact__info--description {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
footer .block-contact__info--description p {
  margin-bottom: 20px;
  margin-left: 40px;
}
footer .block-contact__right {
  background: #FFFFFF;
  box-shadow: 0px 24px 60px rgba(0, 0, 0, 0.06), 0px 6px 24px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 80px;
}
footer .block-contact__right--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
footer .block-contact__right--info {
  margin-top: 12px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.5);
}
footer .block-contact__right--description {
  margin: 48px 60px 24px 60px;
  display: flex;
  flex-direction: column;
}
footer .block-contact__right--input {
  margin: 0 60px 48px 60px;
  display: flex;
  flex-direction: column;
}
footer .block-contact__right--name, footer .block-contact__right--message, footer .block-contact__right--phone {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 12px;
  border: none;
}
footer .block-contact__right--message {
  height: 120px;
  resize: none;
  padding: 16px 0 0 20px;
}
footer .block-contact__right--name, footer .block-contact__right--phone {
  height: 50px;
  padding: 17px 0 17px 20px;
}
footer .block-contact__right .request__button {
  border: none;
  height: 50px;
  background: #A7CC4A;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
footer .block-footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
}
footer .footer-info__menu {
  display: flex;
  justify-content: space-between;
}
footer .footer-info__menu a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-right: 32px;
}
footer .footer-info__copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.12em;
  color: rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=style.css.map */